body {
  background-color: #ffffff;
  font-family: "Roboto", Tahoma, sans-serif;
}
:root {
  --header-color: #ffffff;
  --hero-title-color: #ffffff;
  --main-text-title-color: #212121;
  --second-text-title-color: #757575;
  --hover-buton-color: #2196f3;
  --logo-color: #000000;
  --button-portfolio-colour: #f5f4fa;
}
a {
  text-decoration: none;
}
ul,
ol {
  padding: 0;
  list-style: none;
  margin: 0;
}
a:current {
  fill: #2196f3;
}

/* ---------------------------------ШАПКА САЙТА----------------------------------- */
.logo {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--logo-color);
}
.logo-web {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--hover-buton-color);
}
.header-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-title-color);
}
.header-nav-link:hover {
  color: var(--hover-buton-color);
}
.header-nav-link:focus {
  color: var(--hover-buton-color);
}

.auth-nav-link {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--second-text-title-color);
}
.auth-nav-link:hover {
  color: var(--hover-buton-color);
}
.auth-nav-link:focus {
  color: var(--hover-buton-color);
}

/* ---------------------------------ГЛАВНЫЙ КОНТЕНТ----------------------------------- */

.hero-section {
  background-color: #2f303a;
  width: 1600px;
  text-align: center;
}
.hero-title {
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-title-color);
}
.button-hero {
  font-family: inherit;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--header-color);
  background-color: #2196f3;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.section-benefits-title {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-title-color);
}
.section-benefits-text {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--second-text-title-color);
}
.our-work-title,
.our-team {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}
.our-team-title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--main-text-title-color);
}
.our-team-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  color: var(--second-text-title-color);
}

/* ---------------------------------ПОДВАЛ----------------------------------- */
.footer {
  background-color: #2f303a;
  width: 1600px;
}
.logo-footer {
  font-family: Raleway;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.footer-adress {
  ont-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--header-color);
}
.footer-contacts {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ---------------------------------СТРАНИЦА ПОРТФОЛИО----------------------------------- */

.portfolio-button {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  width: 128px;
  height: 38px;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  background-color: var(--button-portfolio-colour);
  color: var(--main-text-title-color);
}
.portfolio-button:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.portfolio-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-title-color);
}
.portfolio-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
  color: var(--second-text-title-color);
}
